body{    
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
}
.wrapper {
    width: 960px;
    margin: 50px auto;
}

.content{
    float: left;
    width: 640px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.right-panel{
    width: 300px;
    float: right;
    text-align: center;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.facebook{
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    color: white;
    background-color: #3b5998;
}

.viralbrothers{
    border-radius: 5px 5px 0 0;
    font-size: 60px;
    color: black;
    background-color: #aaff00;
}

small{
    font-size: 12px;
}

.twitter{
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    color: white;
    background-color: #33CCFF;
}

.google{
    border-radius: 5px 5px 0 0;
    font-size: 30px;
    color: white;
    background-color:  #d34836;
}

footer{
    text-align: center;
    float: left;
    width: 610px;
}

.header{
    height: 100px;
    text-align: center;
}

.indentation{
    padding-left: 20px;
    padding-right: 20px; 
}

/* - Buy button - */
.koupit {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #689324;
}

.koupit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}

.koupit:active {
	position:relative;
	top:1px;
}

/* ----------------------- */
article{
    min-height: 520px;
}

.article_product{
    height: 100%;
}

.description{
    text-indent:15px;
}

.info{
    color: #3f3f3f;
    font-size: 12px;
}

.info span{
    color: #000000;
}

.info a{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.info a:visited{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.info a:hover{
    color: #aaff00;
    text-decoration: none;
    text-decoration-color: #aaff00;
}

.image{
    float: left;
    width: 320px;
    height: 450px;        
}

.other{
    text-align: center;
    width: 320px;
    display: block
}

.share{
    padding-top: 20px;
    font-size: 20px;
}

.price{
    margin: 0 auto;
}

.price p{
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
    color: white;
    background-color: #d34836;
    overflow: hidden;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
}

.buy{
    text-align: center;
    display: block
}

h1 a{
    color: #000000;
    text-decoration: none;
}
h1 a:visited{
    text-decoration: none;
    color: #000000;
}

.share a{
    color: #000000;
    text-decoration: none;
}
.share a:visited{
    text-decoration: none;
    color: #000000;
}

.share a:hover{
    text-decoration: underline;
    text-decoration-color: #aaff00;
    color: #aaff00;
}

.space{
    margin-bottom: 20px;
}

.product_none{
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
}

.errors{
    list-style: none;
    text-indent:15px;
}