{var $robots = noindex}

{block title} Administrace {/block}

{block head}
        <script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: "hr",
            resize: false,
            language: "cs"
        });
        </script>
{/block}

{block content}

    <fieldset>
        <legend>Přidání trička</legend>   
            {form addProduct}
            <ul class="errors alert alert-danger" n:if="$form->hasErrors()">
        <li n:foreach="$form->errors as $error">{!$error}</li>
</ul>
                <form name="addProduct">
                    <div class="form-group">
                        <label>Název produktu</label>
                        {input product_name}
                    </div>

                    <div class="form-group">
                        <label>Kategorie</label>
                        <br/>
                        {input category_id}
                    </div>
                    
                    <div class="form-group">
                        <label>Cena</label>
                        {input price}
                    </div>

                    <div class="form-group">
                        <label>Popis</label>
                        {input description}
                    </div>

                    <div class="form-group">
                        <label>Kde koupit?</label>
                        {input buy_product_url}
                    </div>
                    
                    <div class="form-group">
                        <label>Náhledový obrázek - velký</label>
                        {input preview_img_big}
                    </div>
                    
                    <div class="form-group">
                        <label>Náhledový obrázek - malý</label>
                        {input preview_img_small}
                    </div>
                    
                    <div class="form-group">
                        <label>Další obrázek - velký</label>
                        {input other_img_big}
                    </div>
                    
                    <div class="form-group">
                        <label>Další obrázek - malý</label>
                        {input other_img_small}
                    </div>

                    <div class="form-group">
                        <label></label>
                        {input send value=>Přidat}
                    </div>
                </form>
        {/form}
    </fieldset>

    <fieldset>
        <legend>Správa sociálních sítí</legend> 
            {form social}
                <form name="social">
                    {foreach $social as $social}

                    <div class="form-group">
                        <label>Facebook</label>
                        {input facebook value=>$social->facebook}
                    </div>

                    <div class="form-group">
                        <label>Twitter</label>
                        {input twitter value=>$social->twitter}
                    </div>

                    <div class="form-group">
                        <label>Twittter ID</label>
                        {input twitter_id value=>$social->twitter_id}
                    </div>
                    
                    <div class="toggle toggle-modern"></div>
                    <input type="checkbox" name=":)" id="check" style="display: "/> 

                    <div class="form-group">
                        <label>G+</label>
                        {input gplus value=>$social->gplus}
                    </div>

                    <div class="form-group">
                        <label></label>
                        {input save value=>Uložit}
                    </div>

                    {/foreach}
                </form>    
            {/form}
    </fieldset>

<script type="text/javascript" src="{$basePath}/js/toggles.min.js"></script>
        <script type="text/javascript">
    $(document).ready(function(){
      $(".toggle").toggles({
        width: 50,
        height: 20,
        checkbox: "#check",
        text: {
          on: "ZAP",
          off: "VYP"
          }
      });
    });
    
    $('.toggle').on('toggle', function (e, active) {
     if (active) {
         console.log("Aktivní");
     } else {
         console.log("Neaktivní");
     }
   });   
  </script>
  
{/block}