{var $robots = noindex}

{block content}

    <fieldset>
        <legend><h2>Přidání trička</h2></legend>    
            {form addProduct}
                <form>
                    <div class="form-group">
                        <label>Název produktu</label>
                        {input product_name}
                    </div>

                    {input category_id}
                    <div class="form-group">
                        <label>Cena</label>
                        {input price}
                        <p class="help-block">Cenu uvádět v Kč.</p>
                    </div>

                    <div class="form-group">
                        <label>Popis</label>
                        {input description}
                    </div>

                    <div class="form-group">
                        <label>Kde koupit?</label>
                        {input buy_product_url}
                    </div>
                    
                    <div class="form-group">
                        <label>Náhledový obrázek - velký</label>
                        {input preview_img_big}
                    </div>
                    
                    <div class="form-group">
                        <label>Náhledový obrázek - malý</label>
                        {input preview_img_small}
                    </div>
                    
                    <div class="form-group">
                        <label>Další obrázek - velký</label>
                        {input other_img_big}
                    </div>
                    
                    <div class="form-group">
                        <label>Další obrázek - malý</label>
                        {input other_img_small}
                    </div>

                    <div class="form-group">
                        <label></label>
                        {input send value=>Přidat}
                    </div>
                </form>
        {/form}
    </fieldset>

{/block}