{block title} Kategorie {/block}
{block head}{/block}
{block content}

        {if count($category)}
        {foreach $category as $product}
            <article  id="{$product->id}-{$product->product_name|lower|webalize}">         
                <header>     
                    <h1><a href="{link product $product->id}">{$product->product_name|lower|firstUpper}</a></h1>       
                    <div class="info">       
                        <p><span>Přidáno: {$product['date']|date:'%d.%m.%Y'}</span> | Kategorie:<span> <a href="{link category $product->category_id}" class="categori">
                                        {if     ($product->category_id == 0)} Nezařazené
                                        {elseif ($product->category_id == 1)} Pánské 
                                        {elseif ($product->category_id == 2)} Dámské 
                                        {elseif ($product->category_id == 3)} Unisex 
                                        {/if}
                                </a></span></p>
                    </div>     
                </header>      
                <div class="image">    
                    <a class="shirt" rel="group{$product->id}" href="{$product->preview_img_big}"><img src="{$product->preview_img_small}" alt="{$product->id}-{$product->product_name|lower|webalize}"/></a>
                    <div class="other">
                        <a class="shirt" rel="group{$product->id}" href="{$product->other_img_big}"><img src="{$product->other_img_small}" alt="{$product->id}-{$product->product_name|lower|webalize}"/></a> 
                    </div>
                </div>             
                <div class="price">        
                    <p>Cena: <span>{$product->price} CZK</span></p>  
                    <div class="buy"><a href="{$product->buy_product_url}" class="koupit">Koupit v E-shopu</a></div>     
                </div>
                <a href="{link product $product->id}">Více...</a>
                <div class="share">
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" href="http://viral-brothers.moxo.cz/{$product->id}-{$product->product_name|lower|webalize}"></div><br>         
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="cs" data-url="http://viral-brothers.moxo.cz/{$product->id}-{$product->product_name|lower|webalize}">Tweet</a><br>
                    <div class="g-plusone" data-size="medium" href="http://viral-brothers.moxo.cz/{$product->id}-{$product->product_name|lower|webalize}"></div>
                </div>
             
                {if $user->isLoggedIn()}<img src="{$baseUrl}/images/delete.png" /><a n:href="Homepage:delete $product->id">Smazat</a>{else}{/if}

                <div class="description">        
                    <p>{!$product->description|firstUpper|truncate:100}...</p>
                </div>
                
            </article>

        {/foreach}
            {else}
            NIC NEBUDE
            {/if}

{/block}