<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <title>{include #title} | Viral brothers oblečení</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{$basePath}/css/toggles.css">
        <link rel="stylesheet" href="{$basePath}/css/themes/toggles-modern.css">
        <link rel="stylesheet" href="{$basePath}/css/fontello.css">
        <link rel="stylesheet" href="{$basePath}/css/animation.css">
        <link rel="stylesheet" href="{$basePath}/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
        <!--[if IE 7]>
            <link rel="stylesheet" href="css/fontello-ie7.css">
        <![endif]-->

        <link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css" media="all"> 

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{$basePath}/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/cufon/1.09i/cufon-yui.js"></script>        
        <script type="text/javascript" src="{$basePath}/js/GFSNeo.font.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
        
            {include #head}
        
        <script type="text/javascript">
            Cufon.replace('.google', { fontWeight: 'normal'});
            Cufon.replace('.facebook', { fontWeight: 'normal'});
            Cufon.replace('.twitter', { fontWeight: 'normal'});
            Cufon.replace('.viralbrothers', { fontWeight: 'normal'});
            Cufon.replace('.viralbrothers span', { fontWeight: 'bold'});
            Cufon.replace('h1', { fontWeight: 'bold'});            
            Cufon.replace('.price span', { fontWeight: 'bold'});
        </script>
        <script>
            function toggleCodes(on) {
                var obj = document.getElementById('icons');
                if (on) {
                    obj.className += ' codesOn'; 
                } 
                else {              
                    obj.className = obj.className.replace(' codesOn', '');
                }          
            }        
        </script>
    </head>
    <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=150822928444878";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){ var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){ js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs); } }(document, 'script', 'twitter-wjs');</script>
        <div class="wrapper">
            <div class="content">
                <a href="{link Homepage:}">
                    <div class="header" id="top">
                        <div class="viralbrothers">Viral <span>BROTHERS</span> <small>Oblečení</small></div>
                    </div>
                </a>
                <div n:foreach="$flashes as $flash" class="flash {$flash->type} alert alert-info">{$flash->message}</div>
                <br/>
                <div class="indentation">
                    
                    {include #content}
                    
                   
                </div>
            </div>
            
            <div class="right-panel" n:foreach="$social as $social">
                <div class="facebook">Facebook</div>
                <div class="fb-like-box" data-href="{$social->facebook}" data-width="300" data-height="450" data-show-faces="true" data-stream="false" data-show-border="false" data-header="false"></div>
                    <div class="space"></div>
                <div class="twitter">Twitter</div>
                <a class="twitter-timeline" href="{$social->twitter}" data-widget-id="{$social->twitter_id}"></a>
                    <div class="space"></div>
                <div class="google">Google+</div>
                <div class="g-page" data-href="{$social->gplus}"></div>
            </div>
            <footer>
                <p>&copy; Jan Kurš | 2013 |
                    {if $user->isLoggedIn()}
                        <a n:href="signOut!">Odhlásit se</a> | <a href="{link Admin:}">Administrace</a>
                        {else} <a href="{link Sign:in}">Login</a>
                    {/if}
                </p>
            </footer>
        </div>

        <script>$('.shirt').fancybox();</script> 
        <script type="text/javascript"> Cufon.now(); </script>
    </body>
</html>